<section class="process-home">
  <div class="container">
    <div class="left">
      <h3>How It Works</h3>
      <h1>Transforming Complexity <br/> into Scalable<br/> and High-Performance Solutions</h1>
      <div class="process-button">
      <app-get-started-button text="Get Started" padding="1rem 7rem"></app-get-started-button>
      </div>
    </div>
    <div class="right">
      <div
        class="step"
        *ngFor="let step of steps; let i = index"
        (click)="toggleStep(i)"
        [class.active]="activeIndex === i"
      >
        <div class="step-header">
          <span class="step-number">{{ step.number }}</span>
          <span class="step-title">{{ step.title }}</span>
          <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
              <path d="M0.225496 0.382035C0.405311 0.198614 0.686692 0.181939 0.884973 0.332011L0.94178 0.382035L5.00023 4.52205L9.05867 0.382035C9.23849 0.198614 9.51987 0.181939 9.71815 0.332011L9.77495 0.382035C9.95477 0.565457 9.97112 0.852481 9.82399 1.05474L9.77495 1.11269L5.35837 5.61785C5.17855 5.80127 4.89717 5.81795 4.69889 5.66788L4.64208 5.61785L0.225496 1.11269C0.0276993 0.910922 0.0276993 0.583799 0.225496 0.382035Z"
                    fill="white"/>
            </svg>
          </div>
        </div>
        <div class="step-content"
             [class.active]="activeIndex === i">
          <p>{{ step.description }}</p>
        </div>

      </div>
    </div>
  </div>
</section>
