.process-home {
  background-color: #121315;
  color: white;
  padding: 140px 0;
  height: auto;
  font-family: 'gil-bold', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-inline: 10px;
  border-radius: 35px;
  overflow: hidden;
  position: relative;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
    gap: 4rem;
    transition: height 0.8s ease, opacity 0.8s ease;

    .left {
      flex: none;
      max-width: 30%;

      h3 {
        font-size: 1.4rem;
        color: var(--primary-color);
        text-transform: uppercase;
        opacity: 0.8;
        font-family: 'gil-light', sans-serif;
      }

      h1 {
        font-size: 5.5rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 15px;
      }
    }

    .right {
      flex: 1;
      min-width: 0;


      .step {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 3rem 0;
        cursor: pointer;
        transition: all 0.8s ease;

        .step-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          transition: color 0.8s ease;


          .step-number {
            margin-top: -0.8rem;
            font-size: 2.3rem;
            color: #7a7a7a;
            font-family: 'gil-medium', sans-serif;
          }

          .step-title {
            flex-grow: 1;
            font-size: 3.5rem;
            color: #7a7a7a;
            margin-left: 10px;
          }

          .icon-container {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: all 0.8s ease;
            aspect-ratio: 1 / 1 !important;
            svg {
              transition: transform 0.8s ease;
            }
          }
        }

        .step-content {
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: max-height 0.8s ease, opacity 0.8s ease;

          font-size: 2rem;
          font-family: 'gil-medium', sans-serif;
        }

        &.active {
          transition: height 0.8s ease, opacity 0.8s ease;
          .step-header {
            .step-title,
            .step-number {
              color: #FFF;
            }
          }

          .icon-container {
            background-color: var(--primary-color) !important;
            transform: rotate(180deg);
            aspect-ratio: 1 / 1 !important;
          }

          .step-content {
            max-height: 999px;
            opacity: 1;
          }
        }
      }
    }
  }
  @media (max-width: 2000px ) {
    .container {
      max-width: 100% !important;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      .left {
        max-width: 85%;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
      .process-button {
        justify-self: center;
        align-self: center;
      }
      .right {
        max-width: 85% !important;
        min-width: 85% !important;
      }
      .step-content {
       max-width: 75% !important;
        text-align: center;
        justify-content: center;
        justify-self: center;
      }


    }

  }


  @media (max-width: 768px) {

    margin-inline: 0 !important;
    border-radius: 0 !important;
    padding: 2rem;

    .container {

      max-width: 100% !important;
      flex-direction: column;
      gap: 2rem;

      .left {

        text-align: left !important;
        max-width: 100%;


        h3 {
          font-size: 0.9rem;
        }
        h1 {
          font-size: 2rem;
        }
      }

      .right {
        width: 100% !important;
        max-width: 100% !important;

        .step {
          padding: 2rem 0;

          .step-header {
            .step-number {
              font-size: 1.4rem;
            }
            .step-title {
              font-size: 1.8rem;
            }
          }
          .icon-container {
            width: 25px !important;
            height: 25px  !important;
          }
          .step-content {
            font-size: 1.4rem;
            max-width: 95% !important;
          }
        }
      }
    }
  }
}
