.two-bands-wrapper {
  position: relative;
  width: 110%;
  margin-left: -10px;
  height: 10rem;
  background-color: #FFFF;
  margin-top: -5px;
  z-index: 25;
}



.marquee-wrapper {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;

  z-index: 25;
  overflow: hidden;
  white-space: nowrap;
}


.marquee-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  width: max-content;
  animation: marquee-infinite 95s linear infinite;
}


.marquee-content .marquee-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  white-space: nowrap;
  padding: 1.2rem 5rem;
  letter-spacing: 1px;
  font-family: 'gil-bold', sans-serif;
}


.marquee-content img {
  width: 65px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}


@keyframes marquee-infinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
