.our-mission-home {
  position: relative;
  width: 100%;
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;

  .mission-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 45vh;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;
    font-family: 'gil-bold', sans-serif;

    .section-left {
      flex: 0.2;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 10rem;
      padding-top: 10rem;
    }

    .section-number {
      font-size: 15rem;
      font-weight: bold;
      color: #161616;

    }

    .section-center {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 10rem;
      padding-top: 12rem;


      .section-title {
        font-size: 5rem;

      }
    }

    .section-right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-right: 10rem;
      padding-top: 12rem;
      text-align: left;
      max-width: 50%;
      margin-left: auto;
    }

    .section-title {
      font-size: 2.5rem;
      font-weight: bold;
      color: #161616;
    }

    .section-description {
      font-size: 1.9rem;
      color: #161616;
      line-height: 1.6;
    }
    .section-point {
      font-size: 1.5rem;
      font-family: 'gil-medium', sans-serif;
      margin-left: 2.5rem;
    }
  }

  .section1 {
    background: white;
  }

  .section2 {
    background: white;
    z-index: 4;
  }

  .section3 {
    background: white;
    z-index: 6;
  }
}


@media (max-width: 2000px) {
  .our-mission-home {
    .mission-section {
      .section-title {
        font-size: 2.5rem;
      }
      .section-description {
        font-size: 1.4rem;
      }
      .section-point {
        font-size: 1.4rem;
      }
      .section-number {
        font-size: 10rem;
      }
    }
  }
}

@media (max-width: 1500px) {
  .our-mission-home {
    .mission-section {
      .section-title {
        font-size: 2rem;
      }
      .section-description {
        font-size: 1rem;
      }
      .section-point {
        font-size: 1.3rem;
      }
      .section-number {
        font-size: 5rem;
      }
    }
  }
}


@media (max-width: 1250px) {
  .our-mission-home {

    .mission-section {
      height: auto;

      flex-direction: column;
      align-items: flex-start;


      .section-number {
        display: none !important;
      }

      .section-left {
        display: none !important;
      }

      .section-center,
      .section-right {
        width: 100% !important;
        padding: 2rem !important;
        max-width: 100%;
      }

      .section-title {
        font-size: 2.5rem !important;
      }

      .section-description {
        font-size: 1.6rem;
      }

      .section-point {
        font-size: 1.4rem;
      }
    }
  }
}
