<div class="servicesHome">


  <p class="servicesHome-subtitle">Our Service</p>


  <h2 class="servicesHome-title">
    Solutions Tailored for
    <br />
    Growth and Excellence
  </h2>


  <div class="servicesHome-list">
    <div class="servicesHome-item" *ngFor="let service of services">
      <a class="servicesHome-item-link"  [routerLink]="['/services', service.slug]">


      <span class="servicesHome-item-text">
        {{ service.name }}
      </span>


      <div class="servicesHome-item-arrow" [innerHTML]="arrowIconSafe"></div>
      </a>
    </div>
  </div>

</div>
