.servicesHome {
  max-width: 1700px;
  margin: 0 auto;
  padding: 5rem 1.25rem;
  font-family: 'gil-bold', sans-serif;


  &-subtitle {
    font-size: 1.4rem;
    color: #2d64ff;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: 'gil-light', sans-serif;
  }


  &-title {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #000;
  }


  &-list {
    display: flex;
    flex-direction: column;
  }


  &-item {
    border-top: 1px solid #eee;
    cursor: pointer;
    padding: 3rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.8s, color 0.8s;

    &:hover {
      background-color: #eee;
      .servicesHome-item-text {
        color: #000;
        transform: translateX(100px);
      }
      .servicesHome-item-arrow {
        background-color: #2d64ff;
        color: #fff;
        transform: translateX(-100px) rotate(-35deg);

      }
    }
  }


  &-item-text {
    font-size: 3.5rem;
    color: #7a7a7a;
    font-weight: 400;
    transition: color 0.8s, transform 0.8s;
  }


  &-item-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: transparent;
    color: #aaa;
    transition: background-color 0.8s, transform 0.8s, color 0.8s;
    fill: black;
  }
}
