.servicesHome {
  max-width: 1700px;
  margin: 0 auto;
  padding: 5rem 1.25rem;
  font-family: 'gil-bold', sans-serif;


  &-subtitle {
    font-size: 1.4rem;
    color: #2d64ff;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: 'gil-light', sans-serif;
  }


  &-title {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #000;
  }


  &-list {
    display: flex;
    flex-direction: column;
  }


  &-item {
    border-top: 1px solid #eee;
    cursor: pointer;
    padding: 3rem 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.8s, color 0.8s;

    &:hover {
      background-color: #eee;
      .servicesHome-item-text {
        color: #000;
        transform: translateX(100px);
      }
      .servicesHome-item-arrow {
        background-color: #2d64ff;
        color: #fff;
        transform: translateX(-100px) rotate(-35deg);

      }
    }
  }


  &-item-text {
    font-size: 3.5rem;
    color: #7a7a7a;
    font-weight: 400;
    transition: color 0.8s, transform 0.8s;
  }


  &-item-arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem ;
    border-radius: 50%;
    background-color: transparent;
    color: #aaa;
    transition: background-color 0.8s, transform 0.8s, color 0.8s;
    fill: black;
    aspect-ratio: 1 / 1 !important;
  }
}
@media (max-width: 1200px) {
  .servicesHome {
    padding: 2rem 1rem;

    &-subtitle {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    &-title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    &-item {
      padding: 2rem 0;


      cursor: default !important;


      transition: none !important;

      .servicesHome-item-arrow {
        background-color: #2d64ff;
        color: #fff;
        transform:  rotate(-35deg);
        white-space: nowrap;
      }


      &:hover {
        background-color: transparent !important;

        .servicesHome-item-text {
          transform: none !important;
          color: inherit !important;
        }

        .servicesHome-item-arrow {
          transform: none !important;
          background-color: transparent !important;
          color: inherit !important;
        }
      }

      &-text {
        font-size: 1.5rem;
      }

      &-arrow {
        width: 3rem;
        height:3rem;
        aspect-ratio: 1 / 1 !important;
      }
    }
  }
}
.servicesHome-item-link {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: none;
  display: contents;
}
