.footer-contact {
  position: relative;
  background: #0367FC;
  padding: 6rem 2rem;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  margin-inline: 10px;
  margin-bottom: 10px;
  border-radius: 35px;

  .background-svg {
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translateX(-50%);
    width: 55vw;
    z-index: 1;
  }

  .contact-container {
    display: flex;
    max-width: 65%;
    width: 90%;
    z-index: 2;
    font-family: 'gil-medium', sans-serif;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }

    .contact-text {
      flex: 1;
      padding-right: 3rem;
      text-align: left;
      padding-top: 3rem;

      h2 {
        font-size: 7rem;
        margin-bottom: 1rem;
        font-family: 'gil-bold', sans-serif;
      }

      p {
        font-size: 1.5rem;
        line-height: 1.5;
        max-width: 500px;
      }
    }

    .contact-form {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background: white;
      padding: 3rem;
      border-radius: 35px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      position: relative;
      justify-content: left;

      input,
      textarea {
        font-size: 1.5rem;
        padding: 1.2rem;
      }
      textarea {
        height: 250px;
        font-family: 'gil-medium', sans-serif;
      }
      .checkbox {
        align-self: flex-start;
      }

      .btn {
        font-size: 1.4rem;
        padding: 1rem 2rem;

      }
    }
  }
}
